# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment variables (e.g. openai keys)
.env

# VS Code settings
.vscode/

# OS-specific junk
.DS_Store
Thumbs.db
